# MongoDB Atlas
MONGO_URI=mongodb+srv://admin:<db_password>@solowithpeace.umgd8y2.mongodb.net/?appName=SolowithPeace
MONGO_DB_NAME=solowithpeace

# Backend
JWT_SECRET=swp_jwt_secret_change_in_prod
NODE_ENV=development
PORT=5000